{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block scripts %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="./static/scripts/buy.js"></script>
{% endblock %}

{% block main %}
    <p class="title animated bounceInLeft">Buy</p>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" id="symbol" type="text">
    </div>
    <div id="data-container" class="mt-3">
        <p>Your budget: $<span id="budget-container">{{ cash }}</span></p>
        <form action="/buy" method="POST">
            <p class="title animated bounceInLeft">Purchase information</p>
            <label class="btn btn-secondary w-75">Name</label>
            <p id="name-container"></p>
            <label class="btn btn-secondary w-75">Price</label>
            <p>$<span id="price-container"></span></p>
            <label class="btn btn-secondary w-75">Symbol</label>
            <p id="symbol-container"><p>
            <input type="text" class="d-none" name="stock_id" id="stock_id">
            <label class="btn btn-secondary w-75">Shares</label>
            <p class="error-message" id="shares-error"></p>
            <div class="input-group mb-3 d-flex justify-content-center">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="add-button">+</span>
                </div>
                <input id="shares" name="shares" type="text" class="form-control shares-input" maxlength="3" placeholder="Shares" aria-label="Shares" value="1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="subs-button">-</span>
                </div>
            </div>
            <label class="btn btn-secondary w-75">Total</label>
            <p>$<span id="total">0.00</span></p>
            <button class="btn btn-primary w-50 mt-2" type="submit" id="buy-button">Buy now!</button>
        </form>
    </div>
{% endblock %}
