{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block scripts %}

{% endblock %}

{% block main %}
    <p class="title animated bounceInLeft">Your stocks</p>
    <div class="container">
        <div class"row">
            <div class="col-12 d-none d-lg-block">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Symbol</th>
                            <th scope="col">Price</th>
                            <th scope="col">Shares</th>
                            <th scope="col">Total</th>
                            <th scope="col">Date</th>
                            <th scope="col">Transaction</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for h in history %}
                            <tr>
                                <td scope="row">{{ h.stock_id }}</td>
                                <td>{{ "{:.2f}".format(h.price) }}</td>
                                <td>{{ h.shares }}</td>
                                <td>{{ "{:.2f}".format(h.price * h.shares)  }}</td>
                                <td>{{ h.date }}</td>
                                <td>{{ h.type }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-lg-none">
                {% for h in history %}
                    <button class="btn btn-primary dropdown-toggle w-100 my-2" type="button" data-toggle="collapse" data-target="#{{ h.stock_id }}" aria-expanded="false" aria-controls="{{ h.stock_id }}">
                        Symbol: {{ h.stock_id }} || Date: {{ h.date }}
                    </button>
                    <div class="collapse" id="{{ h.stock_id }}">
                        <div class="card card-body">
                            <p class="border-bottom border-dark w-100">Price: ${{ "{:.2f}".format(h.price) }}</p>
                            <p class="border-bottom border-dark w-100">Shares: {{ h.shares }}</p>
                            <p class="border-bottom border-dark w-100">Total: ${{ "{:.2f}".format(h.shares* h.price) }}</p>
                            <p class="w-100">Transaction: {{ h.type }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
