{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block scripts %}
    <script type="module" src="./static/scripts/login.js"></script>
{% endblock %}

{% block main %}
    <p class="title animated bounceInLeft">Log In</p>
    <form action="/login" method="post">
        <div class="form-group">
            <p class="error-message" id="username_error"></p>
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" id="username" type="text">
        </div>
        <div class="form-group">
            <p class="error-message" id="password_error"></p>
            <input class="form-control" name="password" placeholder="Password" id="password" type="password">
        </div>
        <button class="btn btn-primary" id="login-button" type="submit">Log In</button>
    </form>
{% endblock %}
