{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block scripts %}
    <script src="./static/scripts/register.js"></script>
{% endblock %}

{% block main %}
    <p class="title animated bounceInLeft">Register</p>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="dropdown my-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Username requirements
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li class="dropdown-item">Username first character must be a letter [a-z]</li>
                        <li class="dropdown-item">Username consists of alphanumeric characters (a-z0-9), lowercase, or uppercase.</li>
                        <li class="dropdown-item">Username allowed of the dot (.), underscore (_), and hyphen (-).</li>
                        <li class="dropdown-item">The dot (.), underscore (_), or hyphen (-) must not be the first or last character.</li>
                        <li class="dropdown-item">The dot (.), underscore (_), or hyphen (-) does not appear consecutively, e.g., user..name</li>
                        <li class="dropdown-item">The number of characters must be between 5 to 20.</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="dropdown my-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Password requirements
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li class="dropdown-item">Password consists of alphanumeric characters (a-z0-9), lowercase, or uppercase.</li>
                        <li class="dropdown-item">Username allowed special characters.</li>
                        <li class="dropdown-item">The number of characters must be between 8 to 10.</li>
                     </ul>
                </div>
            </div>
        </div>
    </div>
    <form action="/register" method="post">
        <div class="form-group">
            <p class="error-message" id="username_error"></p>
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" id="username" type="text">
        </div>
        <div class="form-group">
            <p class="error-message" id="password_error"></p>
            <input class="form-control" name="password" placeholder="Password" id="password" type="password">
        </div>
        <div class="form-group">
            <p class="error-message" id="confirmation_error"></p>
            <input class="form-control" name="confirmation" placeholder="Confirm your password" id="confirmation" type="password">
        </div>
        <button class="btn btn-primary mt-4" id="register-button" type="submit">Register</button>
    </form>
{% endblock %}
