{% extends 'layout.html' %} 

{% block stylesheets %} 
<link href="/static/css/change_password.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script type="module" src="/static/js/change_password.js"></script>
{% endblock %}

{% block main %}

<div class="d-flex justify-content-center p-5 mb-5">
    <form action="/change-password" method="POST" class="d-flex align-items-center flex-column text-center animated bounceIn">
        <div class="mb-3">
            <label for="current_password" class="form-label">Current password</label><span class="error_message"> * required</span>
            <p id="current_password_error" class="error_message"></p>
            <input type="password" class="form-control" id="current_password" name="current_password" placeholder="current password">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">New password</label><span class="error_message"> * required</span>
            <p id="new_password_error" class="error_message"></p>
            <input type="password" class="form-control" id="new_password" name="new_password" placeholder="new password">
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm password</label><span class="error_message"> * required</span>
            <p id="confirmation_error" class="error_message"></p>
            <input type="password" class="form-control" id="confirmation" name="confirmation" aria-describedby="confirm_password" placeholder="confirm your password">
        </div>
        <button type="submit" class="btn btn-primary my-3" id="change_button">Change password</button>
    </form>
</div>
{% endblock %}
